################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DinhLam_C3_Bai2/.vs/DinhLam_C3_Bai2/FileContentIndex
/DinhLam_C3_Bai2/.vs/DinhLam_C3_Bai2/DesignTimeBuild
